In [19]:
import pandas as pd

In [20]:

URM_path = "Data/interactions_and_impressions.csv"

In [21]:
URM_all_dataframe = pd.read_csv(URM_path,dtype={"user_id": int, "item_id": int, "Interaction": str, "data": int})

URM_all_dataframe.columns = ["UserID", "ItemID", "Interaction", "data"]

In [22]:
URM_all_dataframe.head(n=61)

    UserID  ItemID                                        Interaction  data
0        0     222                                                NaN     1
1        0     384                                                NaN     1
2        0     458                                                NaN     0
3        0     458                                                NaN     0
4        0     458                                                NaN     0
..     ...     ...                                                ...   ...
56       0     458                                                NaN     1
57       0     458                                                NaN     1
58       0    2928                                                NaN     1
59       0    2987  15133,19974,7023,3702,24246,14854,16820,22217,...     1
60       0    3296                                                NaN     1

[61 rows x 4 columns]

In [23]:
userID_unique = URM_all_dataframe["UserID"].unique()
itemID_unique = URM_all_dataframe["ItemID"].unique()

In [24]:
n_users = len(userID_unique)
n_items = len(itemID_unique)
n_interactions = len(URM_all_dataframe)

print ("Number of items\t {}, Number of users\t {}".format(n_items, n_users))
print ("Max ID items\t {}, Max Id users\t {}\n".format(max(itemID_unique), max(userID_unique)))

Number of items	 24507, Number of users	 41629
Max ID items	 24506, Max Id users	 41628

In [25]:
mapped_id, original_id = pd.factorize(URM_all_dataframe["UserID"].unique())
user_original_ID_to_index = pd.Series(mapped_id, index=original_id)

mapped_id, original_id = pd.factorize(URM_all_dataframe["ItemID"].unique())
item_original_ID_to_index = pd.Series(mapped_id, index=original_id)

In [26]:
original_item_ID = 2
print("New index for item {} is {}".format(original_item_ID, item_original_ID_to_index[original_item_ID]))

New index for item 2 is 1605

In [27]:
URM_all_dataframe["UserID"] = URM_all_dataframe["UserID"].map(user_original_ID_to_index)
URM_all_dataframe["ItemID"] = URM_all_dataframe["ItemID"].map(item_original_ID_to_index)

In [28]:
URM_all_dataframe.head(n=61)

    UserID  ItemID                                        Interaction  data
0        0       0                                                NaN     1
1        0       1                                                NaN     1
2        0       2                                                NaN     0
3        0       2                                                NaN     0
4        0       2                                                NaN     0
..     ...     ...                                                ...   ...
56       0       2                                                NaN     1
57       0       2                                                NaN     1
58       0       3                                                NaN     1
59       0       4  15133,19974,7023,3702,24246,14854,16820,22217,...     1
60       0       5                                                NaN     1

[61 rows x 4 columns]

In [29]:
userID_unique = URM_all_dataframe["UserID"].unique()
itemID_unique = URM_all_dataframe["ItemID"].unique()

n_users = len(userID_unique)
n_items = len(itemID_unique)
n_interactions = len(URM_all_dataframe)

print ("Number of items\t {}, Number of users\t {}".format(n_items, n_users))
print ("Max ID items\t {}, Max Id users\t {}\n".format(max(itemID_unique), max(userID_unique)))
print ("Average interactions per user {:.2f}".format(n_interactions/n_users))
print ("Average interactions per item {:.2f}\n".format(n_interactions/n_items))

print ("Sparsity {:.2f} %".format((1-float(n_interactions)/(n_items*n_users))*100))

Number of items	 24507, Number of users	 41629
Max ID items	 24506, Max Id users	 41628

Average interactions per user 139.96
Average interactions per item 237.75

Sparsity 99.43 %

#### To store the data we use a sparse matrix. We build it as a COO matrix and then change its format

#### The COO constructor expects (data, (row, column))

In [30]:
import scipy.sparse as sps

URM_all = sps.coo_matrix((URM_all_dataframe["Interaction"].values, 
                          (URM_all_dataframe["UserID"].values, URM_all_dataframe["ItemID"].values)))

URM_all

C:\Users\baba7\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\scipy\sparse\sputils.py:114: UserWarning: object dtype is not supported by sparse matrices
  warnings.warn("object dtype is not supported by sparse matrices")

<41629x24507 sparse matrix of type '<class 'numpy.object_'>'
	with 5826506 stored elements in COOrdinate format>

In [33]:
import numpy as np

item_popularity = np.ediff1d(URM_all)
item_popularity

array([], dtype=object)